.widget {
  width: 320px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  color: #272727;
  margin-bottom: 10px;
}

.h2 {
  margin-bottom: 10px;
}

.item {
  list-style: circle inside;
  margin-bottom: 5px;
  position: relative;
  color: inherit;
}

.closed {
  text-decoration: line-through;
}

.last {
  & span {
    color: inherit;
    position: relative;
    top: -4px;
    left: 3px;
    font-size: 18px;
  }
}
