.item{
  width: 100%;
  min-height: 50px;
  border-bottom:1px solid #ccc;
  padding:15px 20px 15px 50px;
  display:flex;
  align-items:center;
  line-height:22px;
  position: relative;
  &:last-child{
    border-bottom: none;
  }
  & p{
    margin-bottom: 0;
  }
}
.closeWrapper{
  width: 45px;
  height: 100%;
  position:absolute;
  left:0;
  top:0px;
  cursor: pointer;
}
.close{
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}

.h2{
  margin-left: 10px;
  margin-bottom: 0;
}
@import "../../../styles/variables";
.bottom{
  margin-top: 30px;
}
.top{
  margin-top: 25px;
}
.arrow{
  width: 15px !important;
  height: 15px !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%)
}
.closeLine{
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 2px;
  background-color: $second-color;
}
.active{
  animation-name: activeCloseLine;
  animation-duration: 0.5s;
  animation-fill-mode:forwards;
}
.actived{
  width:calc(100% + 6px);
}
.activedArrow{
  animation: none;
  & polyline{
    stroke-dashoffset: 0;
  }
}
.text{
  position: relative;
}
@keyframes activeCloseLine{
  from{
    width: 0px;
  }
  to{
    width: calc(100% + 6px);
  }
}
.todoList{
  width: 100%;
}