@import "../../../styles/variables";

.menu {
  width: 100%;
  display: block;
  padding: 20px 20px 20px 20px;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.075);
  border: 1px dashed #ccc;
  border-top: none;
  height: auto;
  background-color: white;
}

.list {
  display: flex;
  flex-direction: column;
}

.item {
  font-size: 18px;
  display: inline-block;
  color: $first-color;
  cursor: pointer;

  & span {
    display: block;
    transition: color 0.3s ease;
    color: $second-color;
  }

  & a {
    padding: 10px 0;
    display: block;
  }

  &:last-child {
    & a {
      padding: 10px 0 0 0;
    }
  }
}

.item .active {
  & span {
    color: $second-color;
    font-weight: 500;
  }
}

.item:hover {
  & span {
    color: $second-color;
    font-weight: 500;
  }
}
