@import "./../../../styles/variables";

$animtime: 2s;
$easing: cubic-bezier(.35, 0, .25, 1);

.background {
  filter:url('#goo');
  width: 100%;
  height: 100%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
}
.text{
  position:absolute;
  top: 70%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  font-size: 16px;
  font-weight: 400;
  font-family:$font-family;

}
.loader {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: calc(50% - 2rem / 2);
  left: calc(50% - 2rem / 2);
  background: $first-color;
  border-radius: 2rem;
}
.loaderLeft {
  animation: rotateLeft $animtime $easing infinite, changeColor $animtime $easing infinite;
}
.loaderRight {
  animation: rotateRight $animtime $easing infinite, changeColor $animtime $easing infinite;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: -50% -50%;
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform-origin: 150% 150%;
  }
}

@keyframes changeColor {
  0%, 100% {
    background: $second-color;
  }
  50% {
    background: $first-color;
  }
}