.form {
  width: 100%;
  display: block;
}

.inputWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  position: relative;
  flex-direction: column;
  transition: all 0.5s ease;
}

.errorText {
  color: #db4d4d;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  transition: 0.3s ease;
}

.error {
  transition: all 0.3s ease !important;
}

.error > input {
  border: 1px solid #db4d4d !important;
  background-color: #fff6f6;
  box-shadow: none;
  transition: all 0.3s ease !important;
}

.label {
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 14px;
  min-width: 100px;
}
