@import "../../../styles/variables";

.addTaskWrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;

  & button {
    border-radius: 50%;
  }
}

.inputAdd {
  margin-right: 5px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  min-height: 43px;
  transition: 0.3s ease;

  &:focus {
    border-bottom: 1px solid $second-color;
  }
}

.addTask {
  margin-top: 30px;
}

.selectWrapper {
  display: flex;
}

.selectAdd {
  height: 35px;
  margin-right: 5px;
}

@media screen and (max-width: 550px) {
  .addTaskWrapper {
    flex-direction: column;
    padding-right: 3px;
  }
  .inputAdd {
    margin-right: 0;
    width: 100%;
  }
  .selectWrapper {
    justify-content: space-between;
    margin-top: 10px;

    & button {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 350px) {
  .selectWrapper {
    flex-direction: column;
  }
  .selectAdd {
    margin-right: 0;
  }
  .selectAdd {
    margin-bottom: 10px;
  }
}
