@import "../../styles/variables";

.td{
  width: 45px;
  height: 45px;
  border:1px solid transparent;
  position: relative;
  border-collapse:separate;
  cursor: pointer;
  & div{
    width: 100%;
    height: 100%;
    transition: border 0.3s ease;
    border:1px solid transparent;
    border-radius:50%;
    cursor: inherit;
  }
  & div:hover{
    border:1px solid $first-color;
    border-radius:50%;

  }
  & span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display:block;
    cursor: inherit;
  }

}
.active{
  border: 1px solid #ccc !important;
  border-radius:50%;
}
.disabled {
  opacity: 0.5;
  cursor: default;
  translate:0.5s ease;
  & div:hover{
    border: 1px solid transparent;
  }
}
.link{
  color: $second-color;
}
.linkToList{
  display: block;
  width: 100%;
  height: 100%;
}
.dot{
  width: 4px;
  height: 4px;
  background-color: #272727;
  border-radius: 50%;
  position: absolute;
  bottom: 11px;
  right: 7px;
}
.wrap{
  position: relative;

}