.form{
  width: 100%;
  display: block;
}
.inputWrapper{
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  position: relative;
  flex-direction: column;
  transition: all 0.5s ease;
}
.label{
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 14px;
  min-width: 100px;
}
